snippet head "jekyllhead" b
---
title: ${1:title}
tags: ${2:tags}
key: ${3:keys}
aside:
  toc: true
sidebar:
  nav: aboutnav
author: deuterium
full_width: true
mathjax: false
mathjax_autoNumber: false
mermaid: false
chart: false
show_edit_on_github: true
comment: false:
show_author_profile: true
excerpt_separator: <!--more-->
---

endsnippet
