[user]
	email = himanshuthesheoran@gmail.com
	name = deut-erium

[core]
    editor = vim
    excludesFile = ~/.gitignore_global
	fileMode = false

[credential]
	helper = cache --timeout=86400

[diff]
	tool = vimdiff

[difftool]
	prompt = false
